.noto-serif{
  font-family: "Noto Serif";
  font-optical-sizing: auto;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*shared style*/

.header, .arbeidssøkere{
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.center {
    text-align: center;
}

.blue {
    color: rgb(83, 83, 221);
}

.dark-grey {
  color: rgba(37, 36, 50, 1);
}

.grey{
  color:rgba(137, 135, 161, 1)
}

.white {
    color: whitesmoke;
}




/*Header Section*/

.header {

}

.navbar {
    justify-content: space-between;
}

.logo {
    max-width: 15rem;
    max-height: 10rem;
}

.navbar-items {
    gap: 2rem;
    align-items: center;
}

.navbar-item {
    list-style: none;
    font-size: 1rem;
}

.navbar-item :hover {
    color: green;
    text-decoration: underline;
}

.navbar_link {
    text-decoration: none;
    
    
}

.navbar_link :hover{
    cursor: pointer;
}

/*banner section starts here*/

.banner {
    align-items: center;
    margin-top: 130px;
    justify-content: space-around;
}

.banner-desciption {
    
}

.banner-heading {
    font-size: 3rem;
    font-style: 900;
}

.banner-paragraph {
    font-size: 1.5rem;
    max-width: 570px;
    text-shadow: 0 1px 4px rgb(239, 238, 245);
    
}

.banner-img {
    max-width: 570px;
    max-height: 355px;
    border-radius: 1rem;
    filter: drop-shadow(8px 8px 10px gray);
}

/*Vare Arbeidssøkere section starts*/

.arbeidssøkere {
    margin-top: 140px;
    margin-bottom: 120px;
}

.arbeidssøkere-heading {
    font-size: 3rem;
    font-style: 900;
}

.arbeidssøkere-description {
    font-size: 1.5rem;
}

.portfolio-containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.portfolio-container {
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 10px 10px;
}

.deltakere-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.deltakere-name {
    font-size: 1.2rem;
}

.deltakere-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.primary-btn {
  background-color: rgb(83, 83, 221);;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  width: 90%;
}

/* subscribe section starts*/

.contact-form {
    margin-top: 0 auto;
    background-image: url(./Images/image/group.jpeg);
    filter: contrast(50%);
    /*-webkit-filter: blur(8px);*/
    max-width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subscribe {
    
}

.subscribe-heading {
    font-size: 3rem;
    font-weight: 400;
}

#email {
  flex: 1;
  padding:10px;
  border: none;
  outline: none;
}

.subscribe-form {
 justify-content: center;
 align-items: center;
 max-width: 100%;
}

.subscribe-form button {
  padding: 10px;
  border: none;
  background-color: rgb(83, 83, 221);
  color: white;
}
