.noto-serif{
  font-family: "Noto Serif";
  font-optical-sizing: auto;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*shared style*/

.header, .arbeidssøkere{
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.center {
    text-align: center;
}

.blue {
    color: rgb(83, 83, 221);
}

.dark-grey {
  color: rgba(37, 36, 50, 1);
}

.grey{
  color:rgba(137, 135, 161, 1)
}




/*Header Section*/

.header {

}

.navbar {
    justify-content: space-between;
}

.logo {
    max-width: 15rem;
    max-height: 10rem;
}

.navbar-items {
    gap: 2rem;
    align-items: center;
}

.navbar-item {
    list-style: none;
    font-size: 1rem;
}

.navbar-item :hover {
    color: green;
    text-decoration: underline;
}

.navbar_link {
    text-decoration: none;
    
    
}

.navbar_link :hover{
    cursor: pointer;
}

/*banner section starts here*/

.banner {
    align-items: center;
    margin-top: 130px;
    justify-content: space-around;
}

.banner-desciption {
    
}

.banner-heading {
    font-size: 3rem;
    font-style: 900;
}

.banner-paragraph {
    font-size: 1.5rem;
    max-width: 570px;
    text-shadow: 0 1px 4px rgb(239, 238, 245);
    
}

.banner-img {
    max-width: 570px;
    max-height: 355px;
    border-radius: 1rem;
    filter: drop-shadow(8px 8px 10px gray);
}

/*Vare Arbeidssøkere section starts*/

.arbeidssøkere {
    margin-top: 140px;
}

.arbeidssøkere-heading {
    font-size: 3rem;
    font-style: 900;
}

.arbeidssøkere-description {
    font-size: 1.5rem;
}

.portfolio-containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.portfolio-container {
    background-color: rgb(174, 227, 227);
}