.noto-serif{
  font-family: "Noto Serif";
  font-optical-sizing: auto;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*shared style*/

.header {
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.dark-grey {
  color: rgba(37, 36, 50, 1);
}

.grey{
  color:rgba(137, 135, 161, 1)
}




/*Header Section*/

.header {

}

.navbar {
    justify-content: space-between;
}

.logo {
    max-width: 15rem;
    max-height: 10rem;
}

.navbar-items {
    gap: 2rem;
    align-items: center;
}

.navbar-item {
    list-style: none;
    font-size: 1rem;
}

.navbar-item :hover {
    color: green;
    text-decoration: underline;
}

.navbar_link {
    text-decoration: none;
    
    
}

.navbar_link :hover{
    cursor: pointer;
}
